<!doctype html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="We built SKF Admin for Sites which need to be WCAG compliant and responsive.">

	<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="/assets/images/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="/assets/images/favicon/manifest.json">
	<link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">

<title>SKF Admin Dashboard</title>

<link href="/assets/css/docs.css" rel="stylesheet" />
<link href="/assets/css/foundation-icons.css" rel="stylesheet">

<script async defer src="/assets/js/buttons.js"></script>

<style>
<?php echo $css; ?>
</style>

</head>

<body>

<div class="off-canvas-wrapper">

<div class="off-canvas position-left" id="offCanvasLeft" data-off-canvas data-position="left">
<button class="close-button" aria-label="Close menu" type="button" data-close>
<span style="color:#000000;" aria-hidden="true">&times;</span>
</button>
<ul class="mobile-ofc vertical menu">
<li>
<a href="#">Item One</a>
<ul class="submenu menu vertical" data-submenu>
<li><a href="#">This is some next level stuff</a></li>
<li><a href="#">This is some next level stuff</a></li>
<li><a href="#">This is some next level stuff</a></li>
<li><a href="#">This is some next level stuff</a></li>
<li><a href="#">This is some next level stuff</a></li>
</ul>
</li>
<li>
<a href="#">Item 2</a>
<ul class="submenu menu vertical" data-submenu>

<li><a href="#">This is some next level stuff</a></li>
<li><a href="#">This is some next level stuff</a></li>
<li class="divider"></li>
<li class="title" style="color:#ffffff;">Develop</li>
<li><a href="#">This is some next level stuff</a></li>
<li><a href="#">This is some next level stuff</a></li>
</ul>
</li>

<li>
<a href="#">Item 3</a>
<ul class="submenu menu vertical" data-submenu>
<li><a href="#">This is some next level stuff</a></li>
<li><a href="#">This is some next level stuff</a></li>
<li><a href="#">This is some next level stuff</a></li>
<li><a href="#">This is some next level stuff</a></li>
</ul>
</li>

<li>
<a href="#">Item 4</a>
<ul class="submenu menu vertical" data-submenu>
<li><a href="#">This is some next level stuff</a></li>
<li><a href="#">This is some next level stuff</a></li>
<li><a href="#">This is some next level stuff</a></li>
<li><a href="#">This is some next level stuff</a></li>
<li><a href="#">This is some next level stuff</a></li>
</ul>
</li>

<li>
<a href="/docs/">Docs</a>
<ul class="submenu menu vertical" data-submenu>
<li><a href="#">This is some next level stuff</a></li>
<li><a href="#">This is some next level stuff</a></li>
</ul>
</li>

<li><a href="/" class="button">Home Page</a></li>
</ul>

</div>


<div class="off-canvas position-right" id="offCanvasRight" data-off-canvas data-position="right">
<button class="close-button" aria-label="Close menu" type="button" data-close>
<span aria-hidden="true">&times;</span>
</button>

<!--
<ul class="vertical menu">
<li><a href="#" class="fblack">bItem</a></li>
<li><a href="#" class="fblack">bItem</a></li>
<li><a href="#" class="fblack">bItem</a></li>
<li><a href="#" class="fblack">bItem</a></li>
<li><a href="#" class="fblack">bItem</a></li>
<li><a href="#" class="fblack">bItem</a></li>
</ul>
-->

</div>

<div class="off-canvas position-top" id="offCanvasTop" data-off-canvas data-position="top">
<button class="close-button" aria-label="Close menu" type="button" data-close>
<span aria-hidden="true">&times;</span>
</button>
<!--
<ul class="mobile-ofc vertical menu">
<li><a href="#">boo Item</a></li>
<li><a href="#">boo Item</a></li>
<li><a href="#">boo Item</a></li>
<li><a href="#">boo Item</a></li>
<li><a href="#">boo Item</a></li>
<li><a href="#">boo Item</a></li>
</ul>
-->

</div>
<div class="docs-off-canvas-content off-canvas-content" data-off-canvas-content>
<div class="docs-sticky-top-bar">


<nav class="global-nav show-for-smedium">
<div class="global-nav-title">
<a class="zurb-logo" href="/admin">SKF <strong>Admin</strong></a>
</div>
<ul class="dropdown menu right-side" data-dropdown-menu data-click-open="true">
<li class="menu-item">
<a href="#">Item 1</a>
<ul class="menu">
<li><a href="#">Sub Item</a></li>
<li><a href="#">Sub Item</a></li>
<li><a href="#">Sub Item</a></li>
<li><a href="#">Sub Item</a></li>
<li><a href="#">Sub Item</a></li>
<li><a href="#">Sub Item</a></li>
</ul>
</li>
<li class="menu-item">
<a href="#">Item 2</a>
<ul class="menu">
<li><a href="#">Sub Item</a></li>
<li><a href="#">Sub Item</a></li>
<li><a href="#">Sub Item</a></li>
<li class="divider"></li>
<li><a href="#">Sub Item</a></li>
<li><a href="#">Sub Item</a></li>
</ul>

</li>
<li class="menu-item">
<a href="#">Item 3</a>
<ul class="menu vertical">
<li><a href="#">Sub Item</a></li>
<li><a href="#">Sub Item</a></li>
<li><a href="#">Sub Item</a></li>
</ul>
</li>

<li class="menu-item">
<a href="#">Item 4</a>
<ul class="menu vertical">
<li><a href="#">Sub Item</a></li>
<li><a href="#">Sub Item</a></li>
<li><a href="#">Sub Item</a></li>
</ul>
</li>
<li class="menu-item">
<a href="/docs">Docs</a>
<ul class="menu vertical">
<li><a href="#">Sub Item</a></li>
<li><a href="#">Sub Item</a></li>
</ul>
</li>

<li class="menu-button"><a href="/" class="button">Home Page</a></li>
</ul>
</nav>

<div class="global-nav-mobile-wrapper hide-for-smedium-up">
<button type="button" data-toggle="offCanvasLeft">
<img class="hamburger-icon" alt="Menu icon" src="/assets/images/menu-grey.png">
</button>
<div class="global-nav-title">
<a class="zurb-logo" href="/">SKF <strong>Admin</strong></a>
</div>
</div>


<div class="collapse expanded row secondary-bar">

<div class="small-5 medium-3 large-2 columns">
<a target="_blank" href="#" class="version-dropdown-label"><span class="foundation-version-label">Security Posture</span><span class="foundation-version-number">6</span> <span class="changelog-link">View Security</span></a>
</div>

<div class="small-7 columns show-for-small-only">
<span class="search-button" data-toggle="inline-search"></span>

<a href="#" class="float-right small hollow button mobile-nav-button" data-open="navModal">Sub Menu</a>
<div class="reveal nav-modal" id="navModal" data-reveal>
<div class="docs-nav" id="docs-menu">

<ul class="accordion docs-nav-category" data-accordion data-allow-all-closed="true" data-multi-expand="true">
<a class="docs-expand-all" data-expand-all="true"></a>

<li class="accordion-item is-active" data-accordion-item>
<a href="#" class="accordion-title">Heading</a>
<div class="accordion-content is-active" data-tab-content>
<ul class="docs-nav-subcategory">
<li class="current"><a href="/">Item</a></li>
<li class="current"><a href="#">Item</a></li>
<li class="current"><a href="#">Item</a></li>
<li class="current"><a href="#">Item</a></li>
<li class="current"><a href="#">Item</a></li>
<li class="current"><a href="#">Item</a></li>
</ul>
</div>
</li>

<li class="accordion-item " data-accordion-item>
<a href="#" class="accordion-title">Heading 2</a>
<div class="accordion-content " data-tab-content>
<ul class="docs-nav-subcategory">
<li class="current"><a href="#">Item</a></li>
<li class="current"><a href="#">Item</a></li>
<li class="current"><a href="#">Item</a></li>
<li class="current"><a href="#">Item</a></li>
<li class="current"><a href="#">Item</a></li>
<li><a href="#">New Item</a> <span class="label">New</span></li>
</ul>
</div>
</li>

<li class="accordion-item " data-accordion-item>
<a href="#" class="accordion-title">Heading 3</a>
<div class="accordion-content " data-tab-content>
<ul class="docs-nav-subcategory">
<li><a href="#">New Item</a> <span class="label">New</span></li>
<li><a href="#">New Item</a> <span class="label">New</span></li>
<li><a href="#">New Item</a> <span class="label">New</span></li>
<li><a href="#">New Item</a> <span class="label">New</span></li>
<li><a href="#">Item</a></li>
</ul>
</div>
</li>

<li class="accordion-item " data-accordion-item>
<a href="#" class="accordion-title">Heading 4</a>
<div class="accordion-content " data-tab-content>
<ul class="docs-nav-subcategory">
<li class="current"><a href="#">Item</a></li>
<li class="current"><a href="#">Item</a></li>
<li class="current"><a href="#">Item</a></li>
<li class="current"><a href="#">Item</a></li>
</ul>
</div>
</li>

</ul>
</div>

<button class="close-button" data-close aria-label="Close modal" type="button">
<span aria-hidden="true">&times;</span>
</button>
</div>

<div id="inline-search" class="inline-search" data-toggler="expanded">
<form class="search_form">
<input type="text" name="search" aria-label="Search" />
</form>
</div>

</div>

<div class="small-12 medium-9 large-10 columns show-for-medium docs-search-wrapper">
<span class="small-5 medium-3 large-2 columns">
<a target="_blank" href="#" class="version-dropdown-label"><span class="foundation-version-label">New Tickets</span><span class="foundation-version-number">126</span></a>
</span>

<span class="small-5 medium-3 large-2 columns">
<a target="_blank" href="#" class="version-dropdown-label"><span class="foundation-version-label">New Orders</span><span class="foundation-version-number">126</span></a>
</span>

<span class="small-5 medium-3 large-2 columns">
<a target="_blank" href="#" class="version-dropdown-label"><span class="foundation-version-label">New Posts</span><span class="foundation-version-number">126</span></a>
</span>

<span class="small-5 medium-3 large-2 columns">
<a target="_blank" href="#" class="version-dropdown-label"><span class="foundation-version-label">New Mail</span><span class="foundation-version-number">126</span></a>
</span>

<span class="small-5 medium-3 large-2 columns">
<a target="_blank" href="#" class="version-dropdown-label"><span class="foundation-version-label">Resources</span><span class="foundation-version-number">126</span></a>
</span>

<span class="small-5 medium-3 large-2 columns">
<a target="_blank" href="#" class="version-dropdown-label"><span class="foundation-version-label">New News</span><span class="foundation-version-number">126</span></a>
</span>

</div>

<!--
<div class="social-list show-for-medium">
<div class="github-button">
<a class="github-button" href="#" data-size="large" data-count-aria-label="# stargazers on GitHub" aria-label="Star zurb/foundation-sites on GitHub">Star</a>
</div>
</div>
-->

</div>
</div>


<div class="collapse expanded row">
<div id="body-container" class="small-12 medium-9 large-10 medium-push-3 large-push-2 columns">

<article class="docs-component" id="docs-welcome-to-foundation-6">

<header class="welcome-hero" id="docs-header">
<div class="welcome-hero-content">
<div class="welcome-hero-message">
<h1 class="welcome-hero-title">SKF Dashboard</h1>
<p class="welcome-hero-lead">Built to be the most accessible, and responsive, framework in the world.</p>
</div>
</div>
</header>
<div class="row">
<div class="large-12 columns docs-component-inner has-video-hero" id="docs">


<?php echo $content; ?>



<div class="medium-3 large-2 medium-pull-9 large-pull-10 hide-for-small-only columns" data-sticky-container>
<div class="docs-nav-container" data-sticky data-anchor="body-container" data-margin-top="6">
<div class="docs-nav" id="docs-menu">

<ul class="accordion docs-nav-category" data-accordion data-allow-all-closed="true" data-multi-expand="true">
<a class="docs-expand-all" data-expand-all="true"></a>
<li class="accordion-item is-active" data-accordion-item>
<a href="/admin" class="accordion-title">Admin Tasks</a>
<div class="accordion-content is-active" data-tab-content>
<ul class="docs-nav-subcategory">
<li class="current"><a href="/skeleton">Create Module</a></li>
<li><a href="/crud">CRUD <span class="label">New</span></a></li>
<li><a href="/admin/builddao">DAOs <span class="label">New</span></a></li>
<li class="current"><a href="/admin/migrations">Migrations</a></li>
</ul>
</div>
</li>
<li class="accordion-item " data-accordion-item>
<a href="#" class="accordion-title">Second</a>
<div class="accordion-content " data-tab-content>
<ul class="docs-nav-subcategory">
<li class="current"><a href="">Sub Item</a></li>
<li class="current"><a href="">Sub Item</a></li>
<li class="current"><a href="">Sub Item</a></li>
<li class="current"><a href="">Sub Item</a></li>
</ul>
</div>
</li>
<li class="accordion-item " data-accordion-item>
<a href="#" class="accordion-title">Third</a>
<div class="accordion-content " data-tab-content>
<ul class="docs-nav-subcategory">
<li><a href="#">Item <span class="label">New</span></a></li>
<li><a href="#">Item<span class="label">Legacy</span></a></li>
<li><a href="#">Item</a></li>
</ul>
</div>
</li>

</ul>
</div>
</div>
</div>
</div>


<div class="newsletter-signup layout-default">
<div class="row column medium-9 medium-columns">
<div class="row newsletter-signup-inner">
<div class="medium-7 large-8 columns">

<a href="https://bitbucket.org/kevinwaterson/skf/">
<h3 class="hide-for-medium-only">Download SKF Framework and rock your world!</h3>
<p>Everybody is raving about SKF, even Du! What about you?.</p>
</a>
</div>
<div class="medium-5 large-4 footer-signup-form columns">
<a style="margin-bottom: 0;" href="#" class="button expanded">Inflatable Du Sold Seperately</a>
</div>
</div>
</div>

</div>




<footer class="footer-nav row expanded collapse">
<div class="footer-nav-left">
<p class="footer-copyright">© 2019 SKF</p>
</div>
<div class="footer-nav-center">
<ul class="footer-nav-menu">
<li class="footer-nav-menu-item">
<a href="#">Admin</a>
</li>
<li class="footer-nav-menu-item">
<a href="#">WCAG</a>
</li>
<li class="footer-nav-menu-item">
<a href="#">Something</a>
</li>
<li class="footer-nav-menu-item">
<a href="https://bitbucket.org/kevinwaterson/skf/src/master/">GIT</a>
</li>
<li class="footer-nav-menu-item">
<a href="/docs">Docs</a>
</li>
</ul>
</div>
<div class="footer-nav-right">
<ul class="footer-nav-menu-icons">
<li class="footer-nav-menu-item">
<a href="#"><img class="footer-social-icon" src="/assets/images/email-icon.svg" alt="Email icon"></a>
</li>
<li class="footer-nav-menu-item">
<a href="#"><img class="footer-social-icon" src="/assets/images/facebook-icon.svg" alt="Facebook icon"></a>
</li>
<li class="footer-nav-menu-item">
<a href="#"><img class="footer-social-icon" src="/assets/images/twitter-icon.svg" alt="Twitter icon"></a>
</li>
<li class="footer-nav-menu-item">
<a href="#"><img class="footer-social-icon" src="/assets/images/youtube-icon.svg" alt="Youtube icon"></a>
</li>
</ul>
</div>
</footer>
</div>
</div>
<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/plugins/foundation.core.js"></script>
<script src="/assets/js/plugins/foundation.util.box.js"></script>
<script src="/assets/js/plugins/foundation.util.imageLoader.js"></script>
<script src="/assets/js/plugins/foundation.util.keyboard.js"></script>
<script src="/assets/js/plugins/foundation.util.mediaQuery.js"></script>
<script src="/assets/js/plugins/foundation.util.motion.js"></script>
<script src="/assets/js/plugins/foundation.util.nest.js"></script>
<script src="/assets/js/plugins/foundation.util.timer.js"></script>
<script src="/assets/js/plugins/foundation.util.touch.js"></script>
<script src="/assets/js/plugins/foundation.util.triggers.js"></script>
<script src="/assets/js/plugins/foundation.abide.js"></script>
<script src="/assets/js/plugins/foundation.accordion.js"></script>
<script src="/assets/js/plugins/foundation.accordionMenu.js"></script>
<script src="/assets/js/plugins/foundation.drilldown.js"></script>
<script src="/assets/js/plugins/foundation.dropdown.js"></script>
<script src="/assets/js/plugins/foundation.dropdownMenu.js"></script>
<script src="/assets/js/plugins/foundation.equalizer.js"></script>
<script src="/assets/js/plugins/foundation.interchange.js"></script>
<script src="/assets/js/plugins/foundation.smoothScroll.js"></script>
<script src="/assets/js/plugins/foundation.magellan.js"></script>
<script src="/assets/js/plugins/foundation.offcanvas.js"></script>
<script src="/assets/js/plugins/foundation.orbit.js"></script>
<script src="/assets/js/plugins/foundation.responsiveMenu.js"></script>
<script src="/assets/js/plugins/foundation.responsiveToggle.js"></script>
<script src="/assets/js/plugins/foundation.reveal.js"></script>
<script src="/assets/js/plugins/foundation.slider.js"></script>
<script src="/assets/js/plugins/foundation.sticky.js"></script>
<script src="/assets/js/plugins/foundation.tabs.js"></script>
<script src="/assets/js/plugins/foundation.toggler.js"></script>
<script src="/assets/js/plugins/foundation.tooltip.js"></script>
<script src="/assets/js/plugins/foundation.responsiveAccordionTabs.js"></script>
<script src="/assets/js/docs.js"></script>

</body>
</html>

