
<div class="row">
<div class="large-12 columns docs-component-inner has-video-hero" id="docs">

<h1>Generate CRUD</h1>

<p>
This form creates all the files required for CRUD management of a database table.
</p>
<p>
The CRUD process will create a new module based on the name of the database table chosen.
</p>
If the module already exists, the CRUD will append the class methods for the form creation to the existing controller. Eg:

<ul>
<li>callAdd()</li>
<li>callView()</li>
<li>callUpdate()</li>
<li>callDelete()</li>
</ul>
</p>
<p>
New Data Access Objects (DAO's) will be created, or re-created, along with the form generation code.
</p>

<?php echo $form; ?>

</div>
</div>


