




<!--- callout -->

<div class="callout large">
 <div class="row column text-center">
<h1>SKF Framework</h1>
<p class="lead">Now with Zurb Foundation Templates</p>
<a href="/docs/css" class="button large">Learn More</a>
<a href="/docs/js" class="button large hollow">Learn Less</a>
</div>
</div>



<div class="row">
<div class="medium-6 columns medium-push-6">
<img class="thumbnail" src="/assets/images/750x350.png" alt="SKF Logo">
</div>
<div class="medium-6 columns medium-pull-6">
<h2>Our Framework, our selves.</h2>
<p>Why have we switched to Zurb Foundation templates to demonstrate the SKF Framework?.</p>
<p>Two Words! Accessibility!</p>
<p>SKF has teamed up with <a href="https://inclusivedesign.agency">Inclusive Design Agency</a> to ensure our product remains free and accessible to as many people as possible.
</p>

</div>
</div>
<div class="row">
<div class="medium-4 columns">
<h3>Templates</h3>
<p>All the templates used in SKF Framework are derived from the good work over at <a href="https://foundation.zurb.com">Zurb Foundation</a> who provide an <a href="https://courses.zurb.com/p/introduction-to-foundation-6"> great introduction to foundation 6</a> which will give you the answers to life the universe and everything.</p>
</div>
<div class="medium-4 columns">
<h3>SKF Documentation</h3>
<p>Of course, we have included the infamous <a href="/docs">SKF Documentation</a> to guide you on your journey to world domination using the SKF framework.</p>
</div>
<div class="medium-4 columns">
<h3>SKF. It Just Works!</h3>
<p>The SKF framework is designed to work out-of-the-box, with a set of Zurb Foundation templates to get you started.</p>
</div>
</div>
<hr>
<div class="row column">
<ul class="vertical medium-horizontal menu expanded text-center">
<li><a href="#"><div class="stat">28</div><span>Websites</span></a></li>
<li><a href="#"><div class="stat">43</div><span>Apps</span></a></li>
<li><a href="#"><div class="stat">95</div><span>Ads</span></a></li>
<li><a href="#"><div class="stat">59</div><span>Cakes</span></a></li>
<li><a href="#"><div class="stat">18</div><span>Logos</span></a></li>
</ul>
</div>
<hr>
<div class="row column">
<h3>Our Recent Work</h3>
</div>
<div class="row medium-up-3 large-up-4">
<div class="column">
<img class="thumbnail" src="/assets/images/550x550.png" alt="portfolio/1">
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/550x550.png" alt="portfolio/2">
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/550x550.png" alt="portfolio/3">
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/550x550.png" alt="portfolio/4">
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/550x550.png" alt="portfolio/5">
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/550x550.png" alt="portfolio/6">
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/550x550.png" alt="portfolio/7">
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/550x550.png" alt="portfolio/8">
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/550x550.png" alt="portfolio/9">
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/550x550.png" alt="portfolio/10">
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/550x550.png" alt="portfolio/11">
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/550x550.png" alt="portfolio/12">
 </div>
</div>

