
<section class="contact-us-section">
<div class="row medium-unstack">
<h1 class="contact-us-header">Mail Us</h1>
<div class="errors"><?php echo $errors; ?></div>

<?php echo $contact_form; ?>

</div> <!-- end of row -->
</section>
