a{
	background-color: transparent;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}

a:hover{
	text-decoration: underline;
	color: #000000;
}

.button.hollow {
	border: 1px solid #2199e8;
	color: #000000;
}

.button{
	background-color: #0e3aec;
	color: #ffffff;
}


.button:hover{
	background-color: #ffffff;
	text-decoration: underline;
	border: solid 1px black;
	color: #000000;
}

h3,h2 span.small {
	color: #000000;
	font-size:18px;
}

.subheader {
	margin-top: .2rem;
	margin-bottom: .5rem;
	line-height: 1.4;
	color: #000000;
}


.displaybox {
        background-color:       #f4f4f4;
        margin:                 5px 5px;
        padding:                10px;
        border:                 1px solid #d6cfb5;
        overflow:: auto;
}


div.codebox{
        margin: 5px 5px;
        padding: 10px;
        background-color: #FFFAF0;
        border:1px solid #d6cfb5;
        overflow: auto;
}

code, kbd {
	background-color: transparent;
	color: #0a0a0a;
	border: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
element {
}
.orbit-previous {
    left: 0;
}
.orbit-next, .orbit-previous {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 10;
}

.orbit-caption, .orbit-next, .orbit-previous {
	position: absolute;
	padding: 1rem;
	background-color:#000000;
	color: #ffffff;
	opacity: 0.4;
}

.tabs-title > a {
    display: block;
    padding: 1.25rem 1.5rem;
    line-height: 1;
    font-size: 12px;
    color: #000000;
}

.button-group.secondary .button {
    background: #000000;
    color: #ffffff;
}

.thumbnail {
    border: solid 1px black;
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.9);
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #000000;
}

select {
    color: #000000;
    background-color: #fafafa;
}

[type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="tel"], [type="time"], [type="url"], [type="color"], [type="number"], [type="search"], textarea {
    color: #000000;
    background-color: #ffffff;
}

label{
	color:#000000;
}
