<div class="row column text-center">
<h1>Configuration</h1>
<hr>
</div>

<div class="large secondary">
<div class="row">
	

<p>
The documentation of SKF is an on-going process with some features better documented than others. If you feel something could be explained better, or there is something missing, submit a patch, dont whine!
</p>
					
<p>
The main config file is located in application/config/config.ini.php. This is a standard ini file which contains all settting for the application. It can be used globally for any modules you develop. Calling config options is a simple matter of getting the config instance and the section. This example shows how you would show the application version from the config file.
</p>

<div class="codebox">
<?php
$code='
<?php
        $config = new config; 
        $version =  $config->config_values[\'application\'][\'version\'];
?>
';
highlight_string($code);
?>
</div>
<p>
Each module may also have its own config.ini.php file. This file must located in application/&lt;module name&gt;/config/config.ini.php
</p>
<p>
When this file is in place, the config values are are added automatically to the config_values array and are available globally as seen above. Care should be taken by module creators not to over write config values in other modules.
</p>

<p>
Of course, if you do not wish to have a seperate config file for each module, the values can simply be added to the main system config.ini.php file.
</p>
<h2>Some config options</h2>
<dl>
<dt>domain</dt>
<dd>single - if the installation is to be used for a single domain</dd>
<dd>multi = if the installation is to be used for multiple domains from a single code base</dd>

</dl>


</div>
</div>
