<div class="row column text-center">
<h1>SKF Database</h1>
<hr>
</div>

<div class="large secondary">
<div class="row">

<p>
Database connectivity and use is simple using SKF. The database class extends PHP PDO which allows you to use all the PDO functions PHP has to offer. Connection is simply done by dependency injection. The 
</p>
<p>
In your controller, or class, provide the DI as an argument to the constructor. Eg:

<div class="codebox">
<?php
$code='
<?php
public function __construct( Db $db )
	$this->db = $db;
}
?>
';
highlight_string($code);
?>
</div>

<p>
The database object is now available thoughout the controller or class, via $this-&gt;db.
</p>

<div class="codebox">
<?php
$code='
<?php
	$this->db->prepare( "SELECT id FROM my_table" );
	$this->db->execute();
?>
';
highlight_string($code);
?>
</div>

<p>
The configuration of the database connection is governed by the config.ini.php file in the database section. There you will see something like this..
</p>

<div class="displaybox">
<pre>
[database]
db_type = mysql
db_name = web2bb
db_hostname = localhost
db_username = username
db_password = password
db_port = 3306
</pre>
</div>
<p>
As the system uses PDO as the interface, all the functionality of PDO is available from this single instance.

<div class="codebox">
<?php
$code = '
<?php

	$sql = "SELECT blog_heading, blog_text FROM my_blog WHERE blog_id=:blog_id";

	$stmt = $this->db->prepare( $sql );

	$stmt->bindParam(":blog_id", $blog_id, PDO::PARAM_INT );

	$stmt->execute();

	$result = $stmt->fetchAll(PDO::FETCH_ASSOC);
?>
';
highlight_string($code);
?>
</div>

<h2>Data Access Objects</h2>
<p>
The SKF framework also contains a DAO class. the dao classes are created via the admin panel.
</p>
<p>
For the data access object classes to be created, a database connection must be configured in application/config/config.ini.php
</p>

<p>
The DAO class builder will build a DAO class for each database table, and this class will extend the parent dao_class.
</p>

<p>
The DAO classes allow you to programatically do simple CRUD type interactions with ease.
</p>

<p>
Consider a database table for contacts, with the following fields:<br />
id<br />
name<br />
email<br />
</p>

<p>
The resulting class will be generated in /application/lib/objects/dao_contact.class.php and will look like this..
</p>

<div class="codebox">
<?php
$code = '
<?php

namespace skf;

class dao_contact extends \skf\dao{

        public $primary_key = \'id\';
        public $id;
        public $name;
        public $email;

        public function __construct( Db $db ){
                parent::__construct( $db );
        }


                #################################################
                ### CUSTOM FUNCTIONS MUST GO BELOW THIS BLOCK ###
                #################################################

} // end of class
?>
';
highlight_string($code);
?>
</div>

<p>
So, let's step through this. <br>
First up, the namespace is declared in the skf scople.<br>
Next, the name of the class is dao_contact, and it extends the dao class, also in the skf namespace.<br>
Then the field names from the database table are defined, along with the name of the field which is the primary key, in this instance, the id field.
</p>

<p>
The constructor takes a single arguement, which must be a PDO instance. This instance is then passed to the parent constructor, and all the CRUD methods are available via this instance.
</p>

<p>
Multiple databases can be configured in the config file, and so, multiple DAO instances may be created for each database.
</p>

<p>
When the DAO classes are regenerated, eg: somebody adds a new field to the database table, the classes are rewritten with the new field names, and all functions below the warning block are maintained. If you put custom classes above the warning block, and the DAO classes are regenerated, you will lose these functions.
</p>
<p><b>YOU HAVE BEEN WARNED!</b></p>

<p>
Of course, sometimes SQL can be complex, and you need to write a custom query. This too is not a problem, and custom functions may be included in the dao_contact class BELOW THE WARNING BLOCK!
</p>


<h3>Insert</h2
<p>
To do a simple INSERT into our contact table looks like this
</p>


<div class="codebox">
<?php
$code = '
<?php

	// this would go in a function such as contact form
	$dao = new dao_contact();
	$dao->name = \'Big Kev\';
	$dao->email = \'bigkev@foo.com\';
	$dao->update();
?>
';
highlight_string($code);
?>
</div>

<h3>Update</p>
<p>
Updating the contact table is just as easy as an INSERT. 
<div class="codebox">
<?php
$code = '
<?php
	// the connection code would generally go in the constuctor
	$c = new config;
	$db_type = $c->config_values[\'database\'][\'db_type\'];
	$db_host = $c->config_values[\'database\'][\'db_host\'];
	$db_name = $c->config_values[\'database\'][\'db_name\'];
	$db_user = $c->config_values[\'database\'][\'db_user\'];
	$db_pass = $c->config_values[\'database\'][\'db_pass\'];
	$db_port = $c->config_values[\'database\'][\'db_port\'];
	$db = new db( $db_type, $db_host, $db_name, $db_user, $db_pass, $db_port );

	// this would go in a function such as contact form
	$dao = new dao_contact( $db );
	$dao->id = \'id\';
	$dao->name = \'Big Ron\';
	$dao->email = \'bigron@foo.com\';
	$dao->update();
?>
';
highlight_string($code);
?>
</div>

<h3>Update specific fields</h3>
<p>
Of course, there are times when only a one or two fields needs to be updated. We could update all the fields, but this can be a load on the database, so we pick only fields which are specified.
</p>
<div class="codebox">
<?php
$code = '
<?php
	// the connection code would generally go in the constuctor
	$c = new config;
	$db_type = $c->config_values[\'database\'][\'db_type\'];
	$db_host = $c->config_values[\'database\'][\'db_host\'];
	$db_name = $c->config_values[\'database\'][\'db_name\'];
	$db_user = $c->config_values[\'database\'][\'db_user\'];
	$db_pass = $c->config_values[\'database\'][\'db_pass\'];
	$db_port = $c->config_values[\'database\'][\'db_port\'];
	$db = new db( $db_type, $db_host, $db_name, $db_user, $db_pass, $db_port );

	// this would go in a function such as contact form
	$dao = new dao_contact( $db );
	$dao->id = \'id\';
	$dao->name = \'Ronald Biggs\';
	$dao->update();
?>
';
highlight_string($code);
?>
</div>

<p>
In the example above, only the name field will be updated, and the email field is left alone.
</p>
<p>
To enable this, the DAO parent class check all fields with the isset() function, which returns TRUE if var exists and has value other than NULL. FALSE otherwise.
<p>
<p>
If you want to delete the contents of a field, it can be set to an empty string like this:

<div class="codebox">
<?php
$code = '
<?php

	$dao = new dao_contact( $db );
	$dao->id = \'id\';
	$dao->email = \'\';
	$dao->update();
?>
';
highlight_string($code);
?>
</div>

<h3>Delete</h3>
<p>
To DELETE a record is too simple.
</p>

<div class="codebox">
<?php
$code = '
<?php

	$dao = new dao_contact( $db );
	$dao->id = \'id\';
	$dao->delete();
?>
';
highlight_string($code);
?>
</div>

<h3>Load an object</h3>
<p>
You may wish to simply used the database data for display. The data object can be loaded with all the values in this way.
</p>

<div class="codebox">
<?php
$code = '
<?php

	$dao = new dao_contact( $db );
	$dao->id = \'id\';
	$dao->load();
?>
';
highlight_string($code);
?>
</div>

<p>
Data may also be loaded by passing the record primary key id directly to the load method.
</p>

<div class="codebox">
<?php
$code = '
<?php

	$dao = new dao_contact( $db );
	$dao->load(123);
?>
';
highlight_string($code);
?>
</div>

<p>
Values from the database may now be used in your script as follows.
</p>

<div class="codebox">
<?php
$code = '
<?php

	$dao = new dao_contact( $db );
	$dao->id = \'id\';
	$dao->load();

	echo $dao->name;
	echo $dao->email;
?>
';
highlight_string($code);
?>
</div>


<h3>Fetching Data</h3>
<p>
You may fetch all the records (not recommended for large amounts of data) into an array using the fetchAll() method
</p>

<div class="codebox">
<?php
$code = '
<?php

	$dao = new dao_contact( $db );
	$data = $dao->fetchAll();

	print_r( $data );
?>
';
highlight_string($code);
?>
</div>

<p>
The result of this is an array of skf\dao_contact Objects. One object for each record.
</p>


</div>
</div>


