<div class="row column text-center">
<h1>SKF Namespaces</h1>
<hr>
</div>

<div class="large secondary">
<div class="row">


<p>
The SKF system utilizes Dependency Inection (DI) and resolution of classes with the resolver class.
</p>
<p>
The Resolver class contains a method called resolve which takes one property:
</p>

<div class="codebox">
<?php
$code='<?php

	public function resolve($class)
';
highlight_string($code);
?>
</div>

<p>
The Resolver class uses the ReflectionClass to inspect if the class to be injected is instantiable. This prevents attempts to instantiate an interface or abstract classes.
</p>

<p>
If the class is instantiable, the Resolver class checks if contains a __construct() method. If it does not have a constructor, then it just returns an instance of the class as there are no dependencies to inject into it.
</p>

<p>
If the class does have a constructor, the Resolver loops through all of the parameters and determine if each parameter is a resolvable class. If it is a resolvable class, then it calls the resolve method allowing indefinate nesting. If the parameter is not a class, and no default value was supplied, an Exception is thrown, as it cannot resolve an unknown parameter.
</p>

<p>
If successful, (no Exceptions thrown), the resolver returns a new instance of our resolved class.
</p>

<p>
The key to success criteria for this, is to ensure that arguments (class names) are passed with types to the constructor. Eg:
<p>
<div class="codebox">
<?php
$code='<?php

class myClass{

	public function __construct( Db $db )
	{
		$this->db = $db;
	}
}

';
highlight_string($code);
?>
</div>

<p>
Using the reflection API, the Resolver class sees that an instance of Db is required, and the autoload goes off to find the file db.class.php, which contains the Db class. It is that simple.
</p>

<p>
The code becomes more maintainable when you wish to add another parameter to the class. Normally, this would need to be done at every instantiation of the class. With the DI Resolver class, only the constructor for the class needs to be changed.
</p>

<p>
You may have once seen code like this:
</p>

<div class="codebox">
<?php
$code='<?php

$foo = new Foo(new Bar, new Baz(new Snorg(new Barf)));

';
highlight_string($code);
?>
</div>

<p>
With the Resolver class, this can be achieved like this:
</p>

<div class="codebox">
<?php
$code='<?php
$foo = (new Resolver)->resolve(\'Foo\');
';
highlight_string($code);
?>
</div>

<p>
This means less code, and greater maintainabililty, and works simply with namespaced classes, you simply pass through the full class namespace and class name like so:
<div class="codebox">
<?php
$code='<?php

$foo = (new Resolver)->resolve(\'Acme\Repositories\Foo\');

';
highlight_string($code);
?>
</div>



</div>
</div>
