<div class="row column text-center">
<h1>Forms</h1>
<hr>
</div>

<div class="large secondary">
<div class="row">
	        	
<p>
The SKF form class makes the programmatic generation of forms simple. At a basic level, a form is created like this..
</p>
<div class="codebox">
<?php
$code='<?php

$form = new form;
$form->id =\'myform\';
$form->class =\'myform\';
$form->method = \'post\';
$form->action = \'/contact\';

// create an input field which is required
$field = new formField( \'input\' );
$field->type = \'text\';
$field->name = \'name\';
$field->id = \'myId\';
$field->required = \'required\';
// add the input field to the fieldset
$form->addField( $field );

// add the fieldset to the form, boom!
$form->addField( $field );

// a disabled field which is disabled
$dis = new formField( \'input\' );
$dis->type = \'text\';
$dis->name = \'surname\';
$dis->id = \'surname\';
$dis->disabled = true;
$form->addField( $dis );

// create the submit button
$submit = new formField( \'input\' );
$submit->type="submit";
$submit->value="Go Button";
$submit->id="submitButton";
// add the submit button to fieldset 2
$form->addField( $submit );

// create a reset button
$reset = new formField( \'input\' );
$reset->type="reset";
$reset->value="Reset Button";
$reset->id="resetButton";
// add the reset button to fieldset 2
$form->addField( $reset );

// send form to the template
$tpl->form = $form;

';
highlight_string($code);
?>
</div>


<p>
In the above example, a parent form is created, and formField objects are created and appended to the form. However, this does not allow for fieldsets, and legends etc, which are common, and make life easier for people with accessibility issues.
</p>

<p>
In this example, we add several fieldsets, with legends.
</p>
<div class="codebox">
<?php
$code='<?php

$form = new form;
$form->id =\'myform\';
$form->class =\'myform\';
$form->method = \'post\';
$form->action = \'/contact\';

// create a fieldset
$fs1 = new formField( \'fieldset\' );
$fs1->id = \'fs1\';
// create legend
$legend = new formField( \'legend\', \'I am legend\' );
// add the legend to the fieldset
$fs1->addField( $legend );

// create an input field which is required
$field = new formField( \'input\' );
$field->type = \'text\';
$field->name = \'name\';
$field->id = \'myId\';
$field->required = \'required\';
// add the input field to the fieldset
$fs1->addField( $field );

// add the fieldset to the form, boom!
$form->addField( $fs1 );

###############################
#
// another fieldset
$fs2 = new formField( \'fieldset\' );
$fs2->id = \'fs2\';
$fs2->disabled = true;
// a legend for the field sest
$legend = new formField( \'legend\', \'I am legend too\' );
$fs2->addField( $legend );

// a disabled field which is disabled
$dis = new formField( \'input\' );
$dis->type = \'text\';
$dis->name = \'surname\';
$dis->id = \'surname\';
$dis->disabled = true;
$fs2->addField( $dis );

// create the submit button
$submit = new formField( \'input\' );
$submit->type="submit";
$submit->value="Go Button";
$submit->id="submitButton";
// add the submit button to fieldset 2
$fs2->addField( $submit );

// create a reset button
$reset = new formField( \'input\' );
$reset->type="reset";
$reset->value="Reset Button";
$reset->id="resetButton";
// add the reset button to fieldset 2
$fs2->addField( $reset );

// add fieldset 2 to the the form
$form->addField( $fs2 );

################################

$fs3 = new formfield( \'fieldset\' );
$fs3->id = \'fs3\';

$legend = new formField( \'legend\', \'Audio Volume\' );
$fs3->addField( $legend );


$range = new formfield( \'range\' );
$range->name = \'volume\';
$range->id = \'volumne\';
$range->min = 0;
$range->max = 10;
$range->value = 8;
$fs3->addField( $range );

$form->addField( $fs3);
echo $form;

// send form to the template
$tpl->form = $form;

';
highlight_string($code);
?>
</div>

<p>
The above code creates a form object, and then creates a fieldset. The legend, is just another formField type, as are the following inputs and buttons. Multiple fieldsets can be created, with their form fields, and added to the parent form object.
</p>

<p>
A working version of the forms class is included in the <a href="<?php echo PUBLIC_PATH; ?>/contact">Contact</a> module, where you will also not the use of aria labels.
</p>

<p>
As PHP does not support minus signs in variables (like any sane language), aria-describedby etc are defined with underscores, which are later corrected to be dashes. So, aria-required and aria-invalid would be addressed as follows:
</p>
<div class="codebox">
<?php
$code='<?php

$field = new formField( \'input\' );
$field->id = \'my_field\';
$field->name = \'my_field\';
$field->type = \'text\';
$field->aria_required = \'true\';
$field->aria_invalid = \'false\';

';
highlight_string($code);
?>
</div>


</div>
</div>

