<div class="row column text-center">
<h1>SKF Documentation Index</h1>
<hr>
</div>

<div class="large secondary">
<div class="row">

					<p>
					The documentation of SKF is an on-going process with some features better documented than others. If you feel something could be explained better, or there is something missing, submit a patch, dont whine!
					</p>
					
<dl>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/assets">Assets</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/configuration">Configuration</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/constants">Constants</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/controllers">Controllers</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/database">Database</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/dependency">Dependency Injection</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/events">Events</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/forms">Forms</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/htaccess">htaccess</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/rss">RSS</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/mail">Mail</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/language">Language</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/libs">Libs</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/logging">Logging</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/namespaces">Namespaces</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/modules">Modules</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/caching_and_templating">Caching and Templating</dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/uri">URI</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/validation">Validation</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/view">View</a></dt>
<dt><a href="<?php echo PUBLIC_PATH; ?>/docs/layouts">Layouts</a></dt>

</dl>
</div>
</div>
