<div class="row column text-center">
<h1>SKF Layouts</h1>
<hr>
</div>

<div class="large secondary">
<div class="row">

	        	
<h1>Layout File</h1>
<p>
Many applications will require more than a single layout for different parts of the display. To this end we have added the ability to change the layout_file in the view. The default layout in the applications/layouts directory is index.phtml. This can now be altered in the controller using the below code.
</p>

<p><strong>cartcontroller.php</strong></p>
<div class="codebox">
<?php
$code = '
<?php
$this->view->layout_file = \'cart_layout.phtml\';
?>';
highlight_string($code);
?>
</div>
<p>
The above code sets the default layout to the cart_layout.phtml, which will need to alongside the default index.phtml layout in the application/layout directory. This could also be in the controller constructor to make the layout global across all methods in a given controller.
</p>

<h1>Layout Directory</h1>
<p>
Along with specifying the layout file, the layout directory can also be specified, relavent to the APP_PATH, which is the application directory in the source.
</p>

<p>
Specifying the layout directory, allows module writers the ability to use custom layout files stored within the layouts directory within the current module.
</p>
<p>
If your blog module, and shop module use wildly different templates, you may have a custom layout file with the modules own layouts directory. 
<p>

<p><strong>blogcontroller.php</strong></p>
	
<div class="codebox">
<?php
$code = '
<?php
	$this->view->layout_dir = \'/modules/blog/layouts\';
?>';
highlight_string($code);
?>
</div>
</div>
</div>
