
<div class="row column text-center">
<h1>SKF Libs</h1>
<hr>
</div>

<div class="large secondary">
<div class="row">

<p>
The SKF framework comes with a bunch of libraries to get you started with most often used tasks. However, you can simply put any library you wish into SKF and work with what is familiar, or required to get the job done.
</p>

<p>
SKF native libraries are auto-loaded, and use the extension .class.php and are namespaced to skf.
</p>

<p>
SKF libraries are found in the /application/libs directory.
</p>
