<div class="row column text-center">
<h1>SKF Sitemap</h1>
<hr>
</div>

<div class="large secondary">
<div class="row">


<p>
The SKF framework comes with a class to create sitemaps, suitable for use for google SEO
</p>
<p>
This simple class makes the creation of sitemaps from database, or other sources easy. Example below
</p>
<div class="codebox">
<?php
$code='

$map = new sitemap;

$url = $map->newUrl();
$map->add( ""loc"", ""https://example.com/blog/456/foo"" );
$map->add( ""lastmod"", ""2018-06-01"" );
$map->add( ""priority"", ""0.8"" );
$map->add( ""changefreq"", ""daily"" );

$url = $map->newUrl();
$map->add( ""loc"", ""https://example.com/blog/123/foo"" );
$map->add( ""lastmod"", ""2018-04-28"" );
$map->add( ""priority"", ""0.8"" );
$map->add( ""changefreq"", ""daily"" );


$url = $map->newUrl();
$map->add( ""loc"", ""https://example.com/blog/890/foo"" );
$map->add( ""image"" );
$map->add( ""image:loc"", ""https://example.com/images/pic.jpg"" );
$map->add( ""image:caption"", ""Johnny Rotten"" );

$map->add( ""video"" );
$map->add( ""video:title"", ""God Save the Queen"" );
$map->add( ""video:description"", ""Footage of Pistols"" );
// three options for player location array( player_url, allow_embed, auto_play )
$map->add( ""video:player_loc"", array( ""http://www.example.com/videoplayer.swf?video=123"", ""yes"", 1 ) );
$map->add( ""video:thumbnail_loc"", ""http://example.com/video/thumbnail.jpg"" );
$map->add( ""video:content_loc"", ""http://www.example.com/video123.flv"" );

echo $map;


';
highlight_string($code);
?>
</div>

<p>
The above code echo's the css and javascript variables which contain any custom css or javascript found in the js or css directories in the modules assets directory.
</p>

<p>
This docs module contains a file in application/modules/docs/assets/css/style.css. This file contains the custom css used only within this module, so makes little sense to bloat the css space when not in use.
</p>
					
</div>
</div>
