<div class="row column text-center">
<h1>SKF URI</h1>
<hr>
</div>

<div class="large secondary">
<div class="row">


<p>
SKF uses the concept of 'fragments' to break up a URI. Simply put, the URI is split up on the "/" character and each 'fragment' may be called by its numeric position.
</p>

<div class="codebox">
<?php
$code='
<?php
        $uri = new uri;
        echo $uri->fragment(2);
?>
';
highlight_string($code);
?>
</div>
					
</div>
</div>
