<div class="row column text-center">
<h1>SKF Views</h1>
<hr>
</div>

<div class="large secondary">
<div class="row">

<p>
The view class is called in by the controller, and sets up the content to include in the layout. The layout contains a variable called "$content" which takes the view data, and renders it. This following example is taken from the index controllers, index method.
</p>

<p>
Note that template, or view files, use the extention .phtml. This is to avoid confusion with other files.
</p>

<div class="codebox">
<?php
$code='
<?php
                /*** a new view instance ***/
                $tpl = new view;

                /*** turn caching on for this page ***/
                $view->setCaching(true);

                /*** set the template dir ***/
                $tpl->setTemplateDir(APP_PATH . \'/modules/index/views\');

                /*** the include template ***/
                $tpl->include_tpl = APP_PATH . \'/views/index/index.phtml\';

                /*** a view variable ***/
                $this->view->title = \'SKF - Development Made Easy\';
                $this->view->heading = \'SKF\';

                /*** the cache id is based on the file name ***/
                $cache_id = md5( \'admin/index.phtml\' );

                /*** fetch the template ***/
                $this->content = $tpl->fetch( \'index.phtml\',
?>
';
highlight_string($code);
?>
</div>

<p>
The default layout is named index.phtml and is found in application/layouts/index.phtml. You can change the default layout to use a different layout by specifying it in your controller.
</p>
	
<div class="codebox">
<?php
$code='
<?php
                /*** a new view instance ***/
                $tpl = new view;

                /*** turn caching on for this page ***/
                $view->setCaching(true);

		/*** set a different layout ***/
		$this->layout = \'another_layout_template.phtml\';

                /*** set the template dir ***/
                $tpl->setTemplateDir(APP_PATH . \'/modules/index/views\');

                /*** the include template ***/
                $tpl->include_tpl = APP_PATH . \'/views/index/index.phtml\';

                /*** a view variable ***/
                $this->view->title = \'SKF - Development Made Easy\';
                $this->view->heading = \'SKF\';

                /*** the cache id is based on the file name ***/
                $cache_id = md5( \'admin/index.phtml\' );

                /*** fetch the template ***/
                $this->content = $tpl->fetch( \'index.phtml\',
?>
';
highlight_string($code);
?>
</div>

				
</div>
</div>
