
<div class="row">
<div class="large-12 columns docs-component-inner has-video-hero" id="docs">

<table class="responsive-card-table unstriped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Hero Title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-label="First Name">Bruce</td>
      <td data-label="Last Name">Wayne</td>
      <td data-label="Hero Title">Batman</td>
    </tr>
    <tr>
      <td data-label="First Name">Peter</td>
      <td data-label="Last Name">Parker</td>
      <td data-label="Hero Title">Spiderman</td>
    </tr>
    <tr>
      <td data-label="First Name">Bruce</td>
      <td data-label="Last Name">Banner</td>
      <td data-label="Hero Title">The Hulk</td>
    </tr>
    <tr>
      <td data-label="First Name">Clark</td>
      <td data-label="Last Name">Kent</td>
      <td data-label="Hero Title">Superman</td>
    </tr>
  </tbody>
</table>


<div>
<h2 id="installing-foundation" class="docs-heading" data-magellan-target="installing-foundation">SKF Framework Admin</h2
><p>Accessible, responsive, intuitive.</p>
<p><a href="#" class="large button">Download Now</a></p>
<hr>



</div>
</div>

</div>
</article>


</div>



