
<div class="row">
<div class="large-12 columns docs-component-inner has-video-hero" id="docs">


<h2>Migrations</h2>
<p>
Migrations files are kept in the directory specified in the /application/config/config.ini.php file.
</p>
<p>
The migration files are simple SQL files, containing the SQL to be applied to the data base.
</p>
<p>
You may only run a migration once per file.
</p>

<table>
<thead><tr><td>File Name</td></tr></thead>
<tfoot><tr><td></td></tfoot>
<tbody>
<?php foreach( $migration_files as $file ): ?>
<tr><td><?php echo $file; ?></td></tr>
<?php endforeach; ?>
</tbody>
</table>

	      <h4 class="heading4">Run Migrations</h4>
<table>
<thead><tr><td>File Name</td></tr></thead>
<tfoot><tr><td></td></tfoot>
<tbody>
<?php foreach( $messages as $msg ): ?>
<tr><td><?php echo $msg; ?></td></tr>
<?php endforeach; ?>
</tbody>
</table>

              <form class="form-vertical" action="/admin/migrations" method="post">
                <fieldset>
                  <br>
		  <br>
		<input type="hidden" name="run_migrations" value="run" />
                  <input type="submit" class="large button" value="Run" />
                </fieldset>
              </form>


</div>
<div>



</div>
</div>

</div>
</article>


</div>



