<div class="row columns">
<h1>Product Page</h1>
</div>

<div class="row">
<div class="medium-6 columns">
<img class="thumbnail" src="/assets/images/650x350.png" alt="My Product">
<div class="row small-up-4">
<div class="column">
<img class="thumbnail" src="/assets/images/250x200.png" alt="Image 1">
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/250x200.png" alt="Image 2">
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/250x200.png" alt="Image 3">
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/250x200.png" alt="Image 4">
</div>
</div>
</div>
<div class="medium-6 large-5 columns">
<h2>My Awesome Product</h2>
<p>Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus tortor. Nulla facilisi. Duis aliquet egestas purus in.</p>
<label>Size
<select>
<option value="husker">Small</option>
<option value="starbuck">Medium</option>
<option value="hotdog">Large</option>
<option value="apollo">Yeti</option>
</select>
</label>
<div class="row">
<div class="small-3 columns">
<label for="middle-label" class="middle">Quantity</label>
</div>
<div class="small-9 columns">
<input type="number" id="middle-label">
</div>
</div>
<a href="#" class="button large expanded">Buy Now</a>
<div class="small secondary expanded button-group">
<a class="button">Facebook</a>
<a class="button">Twitter</a>
<a class="button">Yo</a>
</div>
</div>
</div>
<div class="column row">
<hr>
<ul class="tabs" data-tabs id="example-tabs">
<li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Reviews</a></li>
<li class="tabs-title"><a href="#panel2">Similar Products</a></li>
</ul>
<div class="tabs-content" data-tabs-content="example-tabs">
<div class="tabs-panel is-active" id="panel1">
<h3>Reviews</h3>
<div class="media-object stack-for-small">
<div class="media-object-section">
<img class="thumbnail" src="/assets/images/200x200.png" alt="Mr White">
</div>
<div class="media-object-section">
<h4>Mike Stevenson</h4>
<p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you.</p>
</div>
</div>
<div class="media-object stack-for-small">
<div class="media-object-section">
<img class="thumbnail" src="/assets/images/200x200.png" alt="Mr Black">
</div>
<div class="media-object-section">
<h4>Mike Stevenson</h4>
<p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
</div>
</div>
<div class="media-object stack-for-small">
<div class="media-object-section">
<img class="thumbnail" src="/assets/images/200x200.png" alt="Mr Purple">
</div>
<div class="media-object-section">
<h4>Mike Stevenson</h4>
<p>I'm going to improvise. Listen, there's something you should know about me... about inception. An idea is like a virus, resilient, highly contagious. The smallest seed of an idea can grow. It can grow to define or destroy you</p>
</div>
</div>
<label>
My Review
<textarea placeholder="None"></textarea>
</label>
<button class="button">Submit Review</button>
</div>
<div class="tabs-panel" id="panel2">
<div class="row medium-up-3 large-up-5">
<div class="column">
<img class="thumbnail" src="/assets/images/350x200.png" alt="Holden">
<h5>Other Product <small>$22</small></h5>
<p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
<a href="/pages/product/123" class="button hollow tiny expanded">Buy Now</a>
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/350x200.png" alt="Cadillac">
<h5>Other Product <small>$22</small></h5>
<p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
<a href="/pages/product/125" class="button hollow tiny expanded">Buy Now</a>
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/350x200.png" alt="Firebird">
<h5>Other Product <small>$22</small></h5>
<p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
<a href="/pages/product/126" class="button hollow tiny expanded">Buy Now</a>
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/350x200.png" alt="Sasquach">
<h5>Other Product <small>$22</small></h5>
<p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
<a href="/pages/product/127" class="button hollow tiny expanded">Buy Now</a>
</div>
<div class="column">
<img class="thumbnail" src="/assets/images/350x200.png" alt="Yeti">
<h5>Other Product <small>$22</small></h5>
<p>In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac euismod semper, magna diam.</p>
<a href="/pages/product/127" class="button hollow tiny expanded">Buy Now</a>
</div>
</div>
</div>
</div>
</div>
