
<!-- footer -->

<hr>
<div class="row column">
<ul class="menu">
<li><a href="/blog">Blog</a></li>
<li><a href="/shop">Shop</a></li>
<li><a href="/pages">Pages</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</div>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
<script>
      $(document).foundation();
</script>
 </body>
</html>
