<div class="top-bar">
<div class="row">
<div class="top-bar-left">
<ul class="dropdown menu" data-dropdown-menu="" role="menubar" data-dropdownmenu="arv0dr-dropdownmenu">
<li class="menu-text" role="menuitem" tabindex="0"><a href="/">SKF Framework</a></li>
<li role="menuitem" tabindex="0"><a href="/about" tabindex="-1">About</a></li>

<li class="has-submenu is-dropdown-submenu-parent is-down-arrow" role="menuitem" tabindex="0" title="Pages" aria-haspopup="true">
<a href="#" tabindex="-1">Pages</a>
<ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" tabindex="-1" role="menu" style="">
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/pages/agency" tabindex="-1">Agency</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/blog" tabindex="-1">Blog</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/pages/marketing" tabindex="-1">Marketing</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/pages/news" tabindex="-1">News</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/pages/portfolio" tabindex="-1">Portfolio</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/pages/product" tabindex="-1">Product</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/pages/realestate" tabindex="-1">Real Estate</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/pages/shop" tabindex="-1">Shop</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/pages/slider" tabindex="-1">Slider</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/pages/product" tabindex="-1">Products</a></li>
</ul>
</li>


<li class="has-submenu is-dropdown-submenu-parent is-down-arrow" role="menuitem" tabindex="0" title="Pages" aria-haspopup="true">
<a href="#" tabindex="-1" aria-label="Documentation">Docs</a>
<ul class="submenu menu vertical is-dropdown-submenu first-sub" data-submenu="" aria-hidden="true" tabindex="-1" role="menu" style="">
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs" tabindex="-1">Docs List</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/assets" tabindex="-1">Assets</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/configuration" tabindex="-1">Configuration</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/constants" tabindex="-1">Constants</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/controllers" tabindex="-1">Controllers</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/database" tabindex="-1">Database</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/dependency" tabindex="-1">Dependency Injection</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/events" tabindex="-1">Events</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/forms" tabindex="-1">Forms</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/htaccess" tabindex="-1">Htaccess</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/rss" tabindex="-1">RSS</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/mail" tabindex="-1">Mail</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/language" tabindex="-1">Languages</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/libs" tabindex="-1">Libs</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/logging" tabindex="-1">Logginig</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/namespaces" tabindex="-1">Namespaces</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/modules" tabindex="-1">Modules</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/caching_and_templating" tabindex="-1">Caching and Templates</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/uri" tabindex="-1">URI</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/validation" tabindex="-1">Validation</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/view" tabindex="-1">view</a></li>
<li role="menuitem" class="is-submenu-item is-dropdown-submenu-item" tabindex="0"><a href="/docs/layouts" tabindex="-1">Layouts</a></li>
</ul>
</li>


<li role="menuitem" tabindex="0"><a href="/blog" tabindex="-1">Blog</a></li>
<li role="menuitem" tabindex="0"><a href="/contact" tabindex="-1">Contact</a></li>
<li role="menuitem" tabindex="0"><a href="/admin" tabindex="-1">Admin</a></li>
</ul>
</div>
<div class="top-bar-right">
<ul class="menu">
<li><input placeholder="Search" type="search" aria-label="Search"></li>
<li><button type="button" class="button">Search</button></li>
</ul>
</div>
</div>
</div>

